#box {
    width: 200px;
    background-color: #8db3ef;
    margin: auto;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    padding: 20px;
    text-align: center;
    height: 200px;
}

input[type=text], input[type=password] {
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid black;
    border-left: 2px solid black;
    padding: 3px;
}